---
layout: labs
title: LABS
---
{% for lab in site.categories.labs %}
<!-- Blog entry -->
    <div class="w3-card-4 w3-margin w3-white w3-animate-left">
        {% if lab.numero < 10 %}
        <h3 class="w3-dalightgrey w3-padding-left" style="max-width: 100px;"><b># 0{{lab.numero}}</b></h3>
        {% else %}
        <h3 class="w3-dalightgrey w3-padding-left" style="max-width: 100px;"><b># {{lab.numero}}</b></h3>
        {% endif %}
        <h5 class="w3-padding-left w3-xlarge">{{lab.title}},&nbsp;<span class="w3-opacity">{{ lab.date | date: "%b %-d, %Y" }}</span></h5>

        <div class="w3-container descripcion2">
            <p class="w3-large">{{lab.intro}}</p>
            <div class="w3-row">
                <div class="w3-col m8 s12">
                    <p><a class="w3-btn w3-padding-large w3-white w3-border w3-hover-border-black" href="{{lab.url | prepend: site.baseurl}}">
                        <b>IR AL LAB &raquo;</b>
                    </a></p>
                </div>
            </div>
        </div>
  </div>
{% endfor %}
