<!--
    Pagina de CC4 - Compiladores

    Head
-->
<head>
    <meta charset="utf-8">
    <meta name="description" content="{{site.descripcion}}">
    <!-- Titulo de pagina o sitio -->
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <!-- Icon Tab -->
    <link rel="icon" href="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://d15cw65ipctsrr.cloudfront.net/0e/40dd90352d11e4aeabbf8c949e23f9/large-icon.png">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Rubik+Mono+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Athiti' rel='stylesheet' type='text/css'>
    <!-- Google Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <!-- LaTeX Render -->
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>
