<div class="w3-top">
<nav class="w3-navbar w3-myvar w3-card-2 w3-dablue">
    <li class="w3-dropdown-hover w3-light-grey">
        <a href="javascript:void(0);"><i class="w3-xlarge fa fa-bars"></i></a>
        <div class="w3-dropdown-content w3-dablue w3-text-white w3-card-4 w3-large">
            <a href="{{"/labs.html" | prepend: site.url}}"><i class="fa fa-flask"></i> Laboratorios</a>
            <a href="{{"/proyectos.html" | prepend: site.url}}"><i class="fa fa-tasks"></i> Proyectos</a>
        </div>
    </li>
</nav>
</div>
