/* Estilos para Layout */

/* Colors */
.site-blue {
    background-color: $deep-blue;
}
.site-lightgrey {
    background-color: $light-grey;
}
.site-gre {
    background-color: $grey;
}

/* Header */
.site-header {
    background-image: url("/assets/imgs/header.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    h1 {
        font-family: $header-font;
        color: white;
    }
}

.site-header-hide-small {
    @extend .w3-hide-small;
    padding-top: 180px;
    padding-bottom: 180px;
    h1 {
        font-size: 64px;
    }
}

.site-header-hide-large {
    @extend .w3-hide-large;
    @extend .w3-hide-medium;
    padding-top: 128px;
    padding-bottom: 128px;
    h1 {
        font-size: 28px;
    }
}

/* Footer */
.site-footer {
    background-color: $deep-blue;
    h4 {
        font-family: $headings-font;
        color: white;
        font-size: 24px;
    }
}

/* Navbar */
.site-navbar {
    @extend .w3-large;
    background-color: $deep-blue;
    font-family: $headings-font;
    color: white;
}

/* Team */
.site-team {
    h2 {
        font-family: $headings-font;
        color: white;
    }
}

/* Home */
.site-home {
    h2 {
        @extend .w3-padding-16;
        @extend .w3-center;
        font-family: $headings-font;
        color:white;
        text-align: center;
        background-color: $deep-blue;
    }
    p {
        @extend .w3-card-4;
        @extend .w3-margin;
        @extend .w3-padding-16;
        @extend .w3-justify;
        background-color: white;
        font-family: $general-font;
        color: black;
        font-size: 25px;
        padding-left: 16px;
        padding-right: 16px;
    }
    ul {
        @extend .w3-ul;
        @extend .w3-card-4;
        @extend .w3-margin;
        @extend .w3-padding-16;
        @extend .w3-justify;
        font-family: $general-font;
        background-color: white;
        font-weight: bold;
        font-size: 22px;
    }
}

.site-list {
    h3,h4,h5 {
        font-family: $headings-font;
    }
    h4 {
        font-size: 28px;
    }
    p {
        font-family: $general-font;
        font-size: 18px;
    }
}

.site-post {
    background-color: white;
    font-family: $general-font;
    font-size: 22px;
    h1,h2,h3,h4,h5,h6 {
        font-family: $headings-font;
    }
    h1 {
        text-align: center;
    }
    p {
        @extend .w3-padding-16;
        @extend .w3-margin;
        @extend .w3-justify;
    }
    hr {
        border-bottom-style: dashed;
        border-bottom-width: medium;
        border-bottom-color: black;
    }
    blockquote {
        @extend .w3-leftbar;
        @extend .w3-light-grey;
        font-style: italic;
        margin-left: 0;
        margin-right: 0;
    }
}
