---
layout: default
title: Laboratorios
---

{% if site.categories.lab %}
<div class="w3-content" style="max-width:1400px">
<div class="w3-row">
<div class="w3-col l8 s12">
    {% for lab in site.categories.lab %}
        <div class="w3-card-4 w3-margin w3-white site-list">
            <div class="w3-container w3-teal w3-padding-2">
                {% if lab.numero < 10 %}
                    <h4>Laboratorio # 0{{lab.numero}}</h4>
                {% else %}
                    <h4>Laboratorio # {{lab.numero}}</h4>
                {% endif %}
            </div>
            <div class="w3-container w3-padding-8">
                <h3><b>{{lab.title}}</b></h3>
                <h5><span class="w3-opacity">{{ lab.date | date: "%b %-d, %Y" }}</span></h5>
            </div>
            <div class="w3-container">
                <p>{{lab.descripcion}}</p>
                <div class="w3-row">
                    <div class="w3-col m8 s12">
                        <p><a href="{{lab.url}}" class="w3-btn w3-padding-large w3-white w3-border w3-hover-border-black"><b>LEER LAB &raquo;</b></a></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="w3-col l4 w3-hide-medium w3-hide-small">
    <div class="w3-card-2 w3-margin">
        <div class="w3-container w3-center w3-padding site-gre">
            <h4><i class="material-icons">chrome_reader_mode</i> Laboratorios Recientes</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
            {% for lab in site.categories.lab %}
                {% if forloop.index < 6 %}
                    <li class="w3-padding-16">
                        <span class="w3-large"><a href="{{lab.url}}">{{lab.title}}</a></span><br>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
</div>
</div>
{% else %}
<div class="w3-container site-list">
    <div class="w3-card-8 w3-margin w3-center w3-padding-32">
    <h2>No hay laboratorios para mostrar :(</h2>
    </div>
</div>
{% endif %}
